@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #E9E9EB;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}